syntax: regexp
.*view.*\.pdf$
.*mail-templates/.*\.pdf$
_SYNCAPP/*$
module/bootstrapBase/verwaltung/content_typeClasses/formBuilder/renderers/*$
module/bootstrapBase/verwaltung/functions/renderers/*$
payment/array.json$
payment/array_paypal.json$
intern/rw/diagramme*$
MW/.*\.xls$
RW/.*\.xls$
update-numbers.txt
glob:.metadata
\.orig$
syntax: glob
view/plugins/verwaltung/Data/*
*.replaced.*.js
*.replaced.js
/.buildpath
/.settings/
/.idea/
/.metadata/
/.project
/Gdata/
/Backup/
/BackupRestore/
/intern/overview/tmp
/view/[0-9]*
/view/data
/view/html
/view/sitemap
/view/userfiles
/view/gallery/files
/test/
/test2/
/localFiles/
/vendor/
/deployment/
/view/plugins/shop/kaestchenImages/